<div class="popup-content">
	<div class="save-popup-content">
		<div class="container-fluid clrp">
			<div class="col-md-12 clrp">
				<div class="card error-content">
					<h2>An error has occurred!</h2>					
					<div class="error-information custom-scroll"
						data-ng-class="{'active': showError}">
						{{appConfig.appError.message | json}}	
					</div>
				</div>
			</div>			
		</div>
	</div>
	<button type="button"
		data-popup-close
		class="btn material popup-close">
		<i class="fa fa-times"></i>
	</button>
</div>	